In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [5]:
cwd = os.getcwd()
datadir = '/'.join(cwd.split('/')[0:-1]) + '/Data/BTS/'

allFiles = glob.glob(datadir + "*.csv")
frame = pd.DataFrame()
list_ = []
count=0
for file_ in allFiles:
    count+=1
    df = pd.read_csv(file_)
    list_.append(df)
frame = pd.concat(list_,sort=False)
frame=frame[frame['ORIGIN']=='JFK']
frame=frame.drop(['Unnamed: 7','ORIGIN'],axis=1)
frame.head()

     YEAR  MONTH  DAY_OF_MONTH OP_UNIQUE_CARRIER  DEP_TIME  DEP_DELAY
633  2013     10             1                9E    1922.0       -3.0
634  2013     10             2                9E    1922.0       -3.0
635  2013     10             3                9E    1930.0        5.0
636  2013     10             4                9E    1919.0       -6.0
637  2013     10             5                9E    2024.0       59.0

In [7]:
frame.to_csv('201Aug')

4

In [4]:
frame.columns

Index(['YEAR', 'MONTH', 'DAY_OF_MONTH', 'OP_UNIQUE_CARRIER', 'ORIGIN',
       'DEP_TIME', 'DEP_DELAY', 'Unnamed: 7'],
      dtype='object')